.shop-header {
    border-bottom: 2px solid #5c0d77;
    margin-bottom: 5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.shop-header .logo {
    font-family: "Playfair Display", Georgia, serif;
    text-decoration: none;
    font-size: 2.5rem;
    padding-left: 1rem;
    color: #5c0d77;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.shop-header .shopping-cart {
    align-self: center;
    font-size: 1.3rem;
    color: black;
    padding-left: 44rem;
    text-decoration: none;
}

.shop-header .shopping-icon {
    font-size: 3.5rem;
    
    margin-right: 20px;
    align-self: center;
    padding-bottom: 0.9rem;
    transform: scale(1.5);
}

.shop-header .shopping-icon:hover{
    color: #0a0539;
}

.shop-header .menu-book {
    font-size: large;
    padding-top: 0.9em;
}

.shop-header .menu-book:hover {
    color: #3829c0;
}